:root {
    --card-largura: 28px;
    --card-altura: calc(var(--card-largura) * 1.64);
}


.telagame{
/* Tela Game Desktop */


position: relative;
width: 1440px;
height: 1024px;

background: linear-gradient(180deg, #B87B44 13.7%, #DAAC82 30.89%, #FDFAFB 43.91%, #150B3E 62.66%, #010103 96.51%);}


.playmatecentral {
   /* playmatecentral */


position: absolute;
width: 1499px;
height: 1182px;
left: -15px;
top: -40px;

    
    background: url(../img/Game_Manoplas_do_infinito.png);
    background-size: cover;
    border: 1px solid #721212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.maoherois{
/* mesaherois */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 577px;
height: 304px;
left: 446px;
top: 521px;
}

.maothanos{
/* Maothanos */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 280px;
height: 151.43px;
left: 545px;
top: 25px;
}


.deckherois{
/* deckherois */


position: absolute;
width: 80px;
height: 131.43px;
left: calc(50% - 80px/2 + 689px);
top: 624px;
}


.deckthanos{
/* deckthanos */


position: absolute;
width: 80px;
height: 131.43px;
left: calc(50% - 80px/2 - 623px);
top: 119px;

background-image: url(../img/capathanossmall.png);
}


.cardh{
/* Card2 */


width: 80px;
height: 131.43px;

background: url(../img/capaherois1small.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.cardt{
/* Card1 */


width: 80px;
height: 131.43px;

background: url(../img/capathanossmall.png);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.mesathanos{
/* mesathanos */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 858px;
height: 108.9px;
left: 366px;
top: 337px;
}


.mesaherois{
/* mesaherois */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 577px;
height: 304px;
left: 446px;
top: 521px;
}


.t {
    width: var(--card-largura);
    height: var(--card-altura);
    visibility: hidden}


.h {
    width: var(--card-largura);
    height: var(--card-altura);
    visibility: hidden;}


.cartaampliadathanos{
    position: absolute;
    width: 160px;
    height: 249.14px;
    left: 118px;
    top: 351px;
}    

.cartaampliadathanos:hover{
    position: absolute;
    width: 200px;
   height: auto;
   margin-left: -20px;
}


.cartaampliadaherois{
 /* cardampliadaheroi */


position: absolute;
width: 160px;
height: 249.14px;
left: 118px;
top: 648px;
}

.cartaampliadaherois:hover{
    /* cardampliadaheroi */
   position: absolute;
   width: 200px;
   height: auto;
   margin-left: -20px;
}