
/* ===== ESTE BLOCO FAZ UM RESET, OU SEJA GARANTE QUE ALGUNS ATRIBUTOS
ESTEJAM ZERADOS E LIVRES DE ATRIBUTOS PADRÕES DO NAVEGADOR =====*/
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
* {
    padding: 0;
    margin: 0;
    vertical-align: none;
    list-style: none;
    border: 0;
    text-decoration: none;
    /*/overflow: hidden;*/
  } 
:root {
    --card-largura: 28px;
    --card-altura: calc(var(--card-largura) * 1.64);
}
.btnescrito{
    display: block;
    position:relative;
    width:300px;
    height:40px;
    top:29%;
    left:50%;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: #721212;
    border-radius: 5px;
    z-index: 1;
}
.btncentral{
    display: block;
    position:relative;
    width:200px;
    height:20px;
    top:29%;
    left:50%;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    border-color: #721212;
    border-radius: 5px;
    z-index: 1;
}
.telagame{
/* Tela Game Desktop */
position: absolute;
top:2px;
left:2px;
width: 100vw;
height: 100vh;
background: url(../img/Game_Manoplas_do_infinito.png);
background-size:cover;  
/* background: linear-gradient(180deg, #B87B44 13.7%, #DAAC82 30.89%, #FDFAFB 43.91%, #150B3E 62.66%, #010103 96.51%); */
}
.playmatecentral {
   /* playmatecentral */

display: contents;
opacity: 1;
    border: 1px solid #721212;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.maoherois{
/* mesaherois */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
position: relative;
width: 204px;
height: 140px;
left: 42%;
top:75%;
}
.maothanos{
/* Maothanos */
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position:absolute;
width: 340px;
height: 140px;
left: 38%;
top: 0%;
}


.deckherois{
/* deckherois */
position: absolute;
width: 80px;
height: 131.43px;
bottom: 5%;
left: 92%;
}

.deckthanos{
/* deckthanos */
position: absolute;
width: 80px;
height: 131.43px;
top: 5%;
left:2%;
background-image: url(../img/capathanossmall.png);
}


.cardh{
/* Card2 */
width: 80px;
height: 131.43px;
background: url(../img/capaherois1small.png);



}


.cardt{
/* Card1 */


width: 80px;
height: 131.43px;

background: url(../img/capathanossmall.png);

/* Inside auto layout */


flex-grow: 0;
}


.mesathanos{
/* mesathanos */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
border-style:dashed;
border-radius: 5px;
border-color: #b5a0a7;
position: absolute;
left: 40%;
top: 30%;
}


.mesaherois{
/* mesaherois */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
position: absolute;
left: 40%;
top: 50%;
}

.t {
    width: 80px;
    height: 131.43px;
}

.h {
    width: 80px;
    height: 131.43px;
}
.cartaampliadathanos{
    position: absolute;
    width: 200px;
    height: auto;
    left: 218px;
    top: 151px;
    visibility: hidden;
}    
.cartaampliadaherois{
 /* cardampliadaheroi */
position: absolute;
width: 260px;
height: auto;
left: 118px;
top: 50%;
visibility: hidden;
}

